<mat-card class="charger">
  <mat-card-header>
    <mat-card-title>Charger {{address}}</mat-card-title>
    <mat-card-subtitle>{{token}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="address" name="address" [disabled]="!!token">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Latitude" [(ngModel)]="lat" name="lat" [disabled]="!!token">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Longitude" [(ngModel)]="lon" name="lon" [disabled]="!!token">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Radius" [(ngModel)]="radius" name="radius" [disabled]="!!token">
      </mat-form-field>
    </form>
    <div class="prop">
      <span class="label" for="status">Status:</span>
      <span id="value" class="value">{{status}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="!!token" (click)="register()" color="primary">Register</button>
    <button mat-button [disabled]="status!=='Ready'" (click)="started()" color="primary">Started</button>
    <button mat-button [disabled]="status!=='Ready'" (click)="completed()" color="primary">Completed</button>
    <button mat-button [disabled]="status!=='Ready'" (click)="cleared()" color="primary">Cleared</button>
  </mat-card-actions>
</mat-card>
