:host {
  max-width: 27em;
  display: flex;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

.charger {
  width: calc(100% - 2em);
  overflow: hidden;

  .prop {
    .label {
      margin-right: 1em;
    }

    .value {
      font-weight: bold;
    }
  }
}

.logs {
  height: 300px;
  overflow: scroll;

  .log {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}
